<p>mongo DB test</p>
<p><%= "There are" << @coll.count.to_s << "records. Here they are:" %></p>
<% @coll.find.each do |doc| %>
  <p><%= doc.inspect %></p>
<% end %>

<p>Find me in app/views/home/index.html.erb</p>
<%= link_to 'show', :action=>"show" %>
